---
import { SEO } from 'astro-seo'
import PresentationLayout from '../../layouts/PresentationLayout.astro'
import { Link, t } from '@packages/i18n'
import { SocialSignIn } from '../../components/auth/SocialSignIn'
import { LaunchpadBrand } from '../../components/LaunchpadBrand'
---

<PresentationLayout hideHeader={true}>
  <SEO
    slot="head"
    title={t('common.auth.signin')}
    description={t('sign_up_and_log_in_via_social_login')}
  />

  <div class="vh-100 container-fluid">
    <div class="vh-100 row d-flex align-items-stretch">
      <div class="col-12 col-md-7 col-lg-6 col-xl-5 d-flex align-items-start flex-column px-vw-5">
        <header class="mb-auto py-vh-2 col-12">
          <LaunchpadBrand isAdmin={false} />
        </header>
        <main class="mb-auto col-12">
          <h1>{t('common.auth.signin')}</h1>

          <p>{t('common.auth.sign_up_and_log_in_via_social_login')}</p>

          <form class="row">
            <div class="col-12">
              <div class="mb-3">
                <SocialSignIn client:only="preact" />
                <Link href="/" class="btn btn-white btn-xl mb-4">{t('common.back')}</Link>
              </div>
            </div>
          </form>
        </main>
      </div>

      <div class="col-12 col-md-5 col-lg-6 col-xl-7 gradient"></div>
    </div>
  </div>
</PresentationLayout>
