---
import { getImage } from '@astrojs/image'
import { SEO } from 'astro-seo'
import PresentationLayout from '../layouts/PresentationLayout.astro'

// https://unsplash.com/de/fotos/xzzgY__zX8A
const introImage = await getImage({
  src: 'https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80',
  alt: 'Just start',
  width: 800,
  aspectRatio: '16:9',
})
---

<PresentationLayout>
  <SEO slot="head" title="Index" description="Index page" />

  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center">
        <p class="mb-8">
          <img src={introImage.src} alt={introImage.alt} />
        </p>
        <code>./src/common/pages/index.astro</code>
      </div>
    </div>
  </div>
</PresentationLayout>
