---
import { SEO } from 'astro-seo'
import Hero from '../sections/Hero.astro'
import PresentationLayout from '../layouts/PresentationLayout.astro'
import { ArrowRight } from '@packages/icons'
import TwoImagesOneTopic from '../sections/TwoImagesOneTopic.astro'
import ThreeImagesBetweenSections from '../sections/ThreeImagesBetweenSections.astro'
import ThreeTopics from '../sections/ThreeTopics.astro'
import FourCards from '../sections/FourCards.astro'
import Pricing from '../sections/Pricing.astro'
import Statistics from '../sections/Statistics.astro'
import Testimonials from '../sections/Testimonials.astro'
import { Link, t } from '@packages/i18n'
import { Trans } from '@packages/i18n/server'
---

<PresentationLayout>
  <SEO
    slot="head"
    title={t('common.home.got_a_mission')}
    description={t('common.home.weve_got_you_covered')}
  />
  <Hero>
    <p slot="sub-heading">{t('common.home.got_a_mission')}</p>
    <p slot="heading">{t('common.home.weve_got_you_covered')}</p>
    <Trans i18nKey="common.home.intro_text">
      Build your new Webapp on top of Astro Launchpad. Oh, I hear you have some decent requirements?
      User authentication, Internationalization, Top speed? Microservices? Phantastic UX? Nice
      requirements! <strong>Bring' em on!</strong>
    </Trans>

    <a
      slot="cta"
      href="https://github.com/kyr0/astro-launchpad"
      target="_blank"
      class="btn btn-xl btn-light"
      >{t('common.home.fork_me')}
      <ArrowRight />
    </a>
  </Hero>

  <ThreeImagesBetweenSections />

  <ThreeTopics />

  <FourCards />

  <TwoImagesOneTopic />

  <Pricing />

  <Statistics />

  <Testimonials />
</PresentationLayout>
