---
import { Link } from '@packages/i18n'
import { LaunchpadBrand } from '../components/LaunchpadBrand'
---

<footer class="bg-black border-top border-dark">
  <div class="container py-vh-4 text-secondary fw-lighter">
    <div class="row">
      <div class="col-12 col-lg-5 text-center text-lg-start">
        <Link class="navbar-brand pe-md-4 fs-4 col-12 col-md-auto text-center me-4 mb-4" href="/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-stack"
            viewBox="0 0 16 16"
          >
            <path
              d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.598.598 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.598.598 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.598.598 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535L7.733.063z"
            ></path>
            <path
              d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.598.598 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.659z"
            ></path>
          </svg>
          <span class="ms-md-1 mt-1 fw-bolder me-md-5">Klar</span>
        </Link>
        <LaunchpadBrand isAdmin={false} />
      </div>
      <div class="col border-end border-dark">
        <span class="h6">Company</span>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="link-fancy link-fancy-light">About us</a>
          </li>
          <li class="nav-item">
            <a href="#" class="link-fancy link-fancy-light">Legal</a>
          </li>

          <li class="nav-item">
            <a href="#" class="link-fancy link-fancy-light">Career</a>
          </li>
          <li class="nav-item">
            <a href="#" class="link-fancy link-fancy-light">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col border-end border-dark">
        <span class="h6">Services</span>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="link-fancy link-fancy-light">Pricing</a>
          </li>
          <li class="nav-item">
            <a href="#" class="link-fancy link-fancy-light">Products</a>
          </li>

          <li class="nav-item">
            <a href="#" class="link-fancy link-fancy-light">Customers</a>
          </li>
          <li class="nav-item">
            <a href="#" class="link-fancy link-fancy-light">Portfolio</a>
          </li>
          <li class="nav-item">
            <a href="#" class="link-fancy link-fancy-light">More</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <span class="h6">Support</span>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="link-fancy link-fancy-light">About us</a>
          </li>
          <li class="nav-item">
            <a href="#" class="link-fancy link-fancy-light">Legal</a>
          </li>

          <li class="nav-item">
            <a href="#" class="link-fancy link-fancy-light">Career</a>
          </li>
          <li class="nav-item">
            <a href="#" class="link-fancy link-fancy-light">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container text-center small py-vh-2 border-top border-dark">
    Engineered by
    <a href="https://github.com/kyr0" class="link-fancy link-fancy-light" target="_blank"
      >Aron Homberg</a
    > | Designed by <a
      href="https://github.com/holger1411"
      class="link-fancy link-fancy-light"
      target="_blank">Holger Koenemann</a
    >,
    <a href="https://templatedeck.com" class="link-fancy link-fancy-light" target="_blank"
      >templatedeck.com</a
    >
  </div>
</footer>
