---
---

<div class="bg-black py-vh-3">
  <div class="container bg-black px-vw-5 py-vh-3 rounded-5 shadow">
    <div class="row gx-5">
      <div class="col-12 col-md-6">
        <div class="card bg-transparent mb-5" data-aos="zoom-in-up">
          <div class="bg-dark shadow rounded-5 p-0">
            <img
              src="/img/webp/abstract3.webp"
              width="582"
              height="327"
              alt="abstract image"
              class="img-fluid rounded-5 no-bottom-radius"
              loading="lazy"
            />
            <div class="p-5">
              <h2 class="fw-lighter">Ipsum dolor est</h2>
              <p class="pb-4 text-secondary">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                tempor invidunt ut labore et dolore magna aliquyam erat.
              </p>
              <a href="#" class="link-fancy link-fancy-light">Read more</a>
            </div>
          </div>
        </div>

        <div class="card bg-transparent" data-aos="zoom-in-up">
          <div class="bg-dark shadow rounded-5 p-0">
            <img
              src="/img/webp/abstract2.webp"
              width="582"
              height="442"
              alt="abstract image"
              class="img-fluid rounded-5 no-bottom-radius"
              loading="lazy"
            />
            <div class="p-5">
              <h2 class="fw-lighter">Ipsum dolor est</h2>
              <p class="pb-4 text-secondary">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                tempor invidunt ut labore et dolore magna aliquyam erat.
              </p>
              <a href="#" class="link-fancy link-fancy-light">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="p-5 pt-0 mt-5" data-aos="fade">
          <span class="h5 text-secondary fw-lighter">What we don´t know</span>
          <h2 class="display-4">There is a lot we don´t know. Here is a small sneak peek</h2>
        </div>
        <div class="card bg-transparent mb-5 mt-5" data-aos="zoom-in-up">
          <div class="bg-dark shadow rounded-5 p-0">
            <img
              src="/img/webp/abstract17.webp"
              width="582"
              height="390"
              alt="abstract image"
              class="img-fluid rounded-5 no-bottom-radius"
              loading="lazy"
            />
            <div class="p-5">
              <h2 class="fw-lighter">Ipsum dolor est</h2>
              <p class="pb-4 text-secondary">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                tempor invidunt ut labore et dolore magna aliquyam erat.
              </p>
              <a href="#" class="link-fancy link-fancy-light">Read more</a>
            </div>
          </div>
        </div>

        <div class="card bg-transparent" data-aos="zoom-in-up">
          <div class="bg-dark shadow rounded-5 p-0">
            <img
              src="/img/webp/abstract4.webp"
              width="582"
              height="327"
              alt="abstract image"
              class="img-fluid rounded-5 no-bottom-radius"
              loading="lazy"
            />
            <div class="p-5">
              <h2 class="fw-lighter">Ipsum dolor est</h2>
              <p class="pb-4 text-secondary">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                tempor invidunt ut labore et dolore magna aliquyam erat.
              </p>
              <a href="#" class="link-fancy link-fancy-light">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
