---
import { ArrowRight } from '@packages/icons'
---

<div class="w-100 overflow-hidden position-relative bg-black text-white" data-aos="fade">
  <div class="position-absolute w-100 h-100 bg-black opacity-75 top-0 start-0"></div>
  <div class="container py-vh-4 position-relative mt-5 px-vw-5 text-center">
    <div class="row d-flex align-items-center justify-content-center py-vh-5">
      <div class="col-12 col-xl-10">
        <span class="h5 text-secondary fw-lighter">
          <slot name="sub-heading" />
        </span>
        <h1 class="display-huge mt-3 mb-3 lh-1">
          <slot name="heading" />
        </h1>
      </div>
      <div class="col-12 col-xl-8">
        <p class="lead text-secondary">
          <slot />
        </p>
      </div>
      <div class="col-12 text-center">
        <slot name="cta" />
      </div>
    </div>
  </div>
</div>
