---
---

<div class="container-fluid px-vw-5 position-relative" data-aos="fade">
  <div class="position-absolute w-100 h-50 bg-black top-0 start-0"></div>
  <div
    class="position-relative py-vh-5 bg-cover bg-center rounded-5"
    style="background-image: url(/img/webp/abstract12.webp)"
  >
    <div class="container bg-black px-vw-5 py-vh-3 rounded-5 shadow">
      <div class="row d-flex align-items-center">
        <div
          class="col-6 d-flex align-items-center bg-dark shadow rounded-5 p-0"
          data-aos="zoom-in-up"
        >
          <div class="row d-flex justify-content-center">
            <div class="col-12">
              <img
                src="/img/webp/person103.webp"
                width="684"
                height="457"
                alt="our CEO with some nice numbers"
                class="img-fluid rounded-5"
                loading="lazy"
              />
            </div>
            <div class="col-12 col-lg-10 col-xl-8 text-center my-5">
              <p class="lead border-bottom pb-4 border-secondary">
                "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                takimata sanctus est Lorem ipsum dolor sit amet."
              </p>
              <p class="text-secondary text-center">Jane Doe, CEO</p>
            </div>
          </div>
        </div>
        <div class="col-5 offset-1">
          <span class="h5 text-secondary fw-lighter">The numbers</span>
          <h2 class="display-huge fw-bolder" data-aos="zoom-in-left">+400</h2>
          <p class="h4 fw-lighter text-secondary">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
          </p>

          <h2
            class="display-huge fw-bolder border-top border-secondary pt-5 mt-5"
            data-aos="zoom-in-left"
          >
            78.981
          </h2>
          <p class="h4 fw-lighter text-secondary">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
          </p>
          <h2
            class="display-huge fw-bolder border-top border-secondary pt-5 mt-5"
            data-aos="zoom-in-left"
          >
            98%
          </h2>
          <p class="h4 fw-lighter text-secondary">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
