---
---

<div class="bg-dark position-relative">
  <div class="container px-vw-5 py-vh-5">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-lg-7">
        <img
          class="img-fluid rounded-5 mb-n5 shadow"
          src="img/webp/person9.webp"
          width="512"
          height="512"
          alt="a nice person"
          loading="lazy"
          data-aos="zoom-in-right"
        />
        <img
          class="img-fluid rounded-5 ms-5 mb-n5 shadow"
          src="img/webp/person11.webp"
          width="512"
          height="512"
          alt="another nice person"
          loading="lazy"
          data-aos="zoom-in-up"
        />
      </div>
      <div class="col-12 col-lg-5 bg-dark rounded-5 py-5" data-aos="fade">
        <span class="h5 text-secondary fw-lighter">Do you like faces?</span>
        <h2 class="display-4">
          We constantly adding new images to our website. Does it make sense? No!
        </h2>
      </div>
    </div>
  </div>
</div>
